$themeColor:#1b65ce;
page {
    background: #ededed;
    padding: 20rpx;
    width: auto;
}
.row{
    display: flex;
    padding: 10rpx 0;
    font-size: 36rpx;
    margin-bottom: 10px;
    &:first-child{
        margin-top: 10px;
    }
    .text{
        width: 25%;
        // background: red;
        line-height: 1.4rem;
    }
.ipt{
    border-bottom: 2rpx solid #ddd;
    width: 75%;
    input{
        color: #666;
    }
}
}

button {
    font-size: 36rpx;
    margin-top: 150rpx;
}
