$themeColor:#1b65ce;
page {
    background: #ffffff;
}

.title {
    color: $themeColor;
    text-align: center;
    padding: 45rpx;
    font-size: 50rpx;
}

.item {
    text-align: center;
    margin-bottom: 60rpx;
    label {
        // width: 100px;
        display: inline-block;
        text-align: right;
        font-size: 38rpx;
        line-height: 1.6rem;
        vertical-align: top;
        padding: 5rpx 0;
        color: #333;
    }
    input {
        border: 4rpx solid #dddddd;
        display: inline-block;
        width: 400rpx;
        font-size: 32rpx;
        text-align: left;
        padding: 8rpx 10rpx;
        border-radius: 4rpx;
    }
   
    &.item:nth-child(2) {
        label {
            letter-spacing: 3rpx;
        }
    }
    &.item:nth-child(2),
    &.item:nth-child(3) {
        input {
            width: 200rpx;
        }
        .verify {
            display: inline-block;
            width: 180rpx;
            background: #ddd;
            color: #666;
            vertical-align: top;
            padding: 18rpx 0;
            font-size: 26rpx;
            margin-left: 20rpx;
        }
        .img-verify{
            display: inline-block;
            width: 180rpx;
            height: 72rpx;
            background: #ddd;
            color: #666;
            vertical-align: top;
            // padding: 18rpx 0;
            font-size: 26rpx;
            margin-left: 20rpx;
            image{
                width: 100%;
                height: 100%;
            }
        }
    }
    &.item:nth-child(4) {
        margin-bottom: 0;
    }
    &.item:nth-child(5) {
        label {
            opacity: 0;
        }
        .intension-wrap {
            width: 420rpx;
            border: 2rpx solid #ddd;
            display: inline-block;
            position: relative;
            .intension {
            display: flex;
            justify-content: space-between;
            view {
                background: #ddd;
                width: 33%;
                font-size: 26rpx;
                color: #666;
                padding: 10rpx 0;
            }
            .active{
                background:#1b65ce;
                color: #fff;
            }
        }
        }
        
    }
}

.btn {
    margin-top: 80rpx;
    button {
        width: 600rpx;
        height: 80rpx;
        color: #1b65ce;
        font-size: 30rpx;
        border: 4rpx solid #1b65ce;
        border-radius: 35rpx;
        background-color: transparent;
    }
}
