$themeColor:#1b65ce;
page {
    background: #ededed;
    padding: 20rpx;
    width: auto;
}

.item {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20rpx;
    .title {
        font-size: 32rpx;
        border-bottom: 2rpx solid $themeColor;
        padding: 15rpx 0 15rpx 5rpx;
        color: $themeColor;
        text {
            font-size: 36rpx;
        }
    }
    .wrap {
        padding: 0 10rpx;
        .row {
            background: #fff;
            font-size: 32rpx;
            border-bottom: 2rpx dotted #ddd;
            padding: 20rpx;
            color: #333;
            display: flex;
            &:last-child{
                border-bottom: none;
            }
            // justify-content: space-between;
            .name {
                width: 40%;
            }
            .text {
                width: 60%;
            }
        }
    }
}

button {
    font-size: 36rpx;
    margin-top: 150rpx;
}
