$themeColor:#f9bb18;
page {
    background: #f2f2f2;
    padding: 20rpx;
    width: auto;
}

.wrap {
    border: 2rpx solid #ddd;
    border-radius: 5px;
    background: #ffffff;
    .title {
        color: #ffffff;
        text-align: center;
        padding: 20rpx;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 30rpx;
    }
    .row {
        display: flex;
        justify-content: space-around;
        padding: 20rpx 0;
        border-bottom: 2rpx solid #ddd;
        &.row:last-child{
            border-bottom: none;
        }
        .text {
            width: 35%;
            padding-left: 5%;
            text-align: left;
            font-size: 30rpx;
            view{
                font-size: 20rpx;
                color: #1b65ce;
            }
        }
        .number {
            width: 60%;
            font-size: 36rpx;
            &.color-bule{
                color: #1b65ce;
                font-size: 40rpx;
                font-weight: bold;
            }
            &.color-orange{
                color: #fb565c;
                font-size: 40rpx;
                font-weight: bold;
            }
        }
    }
}

.point {
    margin-bottom: 20rpx;
    .title {
        background: #1b65ce;
    }
}
.wealth {
    border-color: #fb565c;
    .title {
        background: #fb565c;
    }
}
.wealth-details{
    background:#fff;
    margin:20rpx 0;
    navigator{
        color: #1b65ce;
        text-align: center;
        padding: 20rpx 0;
        border-radius: 3px;
        font-size: 30rpx;
    }
}
.explain{
    font-size: 30rpx;
    color: #666;
    line-height: 40rpx;
    text{
        color: red;
    }

}
.logo{
    margin-top: 20rpx;
    text-align: center;
    image{
        width: 300rpx;
        height: 100rpx;
    }
}
